.navbar {
    padding: 15px 40px;
    /* background-color: red; */
}

.navMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogoBox {
    width: 75px;
    height: 75px;
    align-items: center;
}

.navLogoBox a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.navLinkBox {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    @media (max-width: 998px) {
        display: none;
    }
}

.navLink {
    color: black;
    font-size: 17px;
    text-decoration: none;

    &:hover {
        color: navy;
        transition: all 0.5s ease-in-out;
    }
}

.navLinkActive {
    color: rgba(199, 11, 199, 0.474);
    font-size: 17px;
    text-decoration: none;
    position: relative;

    &:hover {
        color: navy;
        transition: all 0.5s ease-in-out;
    }

    &::after {
        content: '';
        width: 65%;
        height: 2px;
        background-color: rgba(199, 11, 199, 0.474);
        position: absolute;
        bottom: -4px;
        left: 15%;
    }
}

.navBurger {
    display: none;
    cursor: pointer;


    @media (max-width: 998px) {
        display: block;
    }

    &>span {
        font-size: 40px;
    }
}

.navbarMobile {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000059;
    z-index: 10;
}

.navbarMobileHidden {
    display: none;
}

.navbarMobileContent {
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 20px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fadeIn 0.5s ease-in-out;

    

    .navMobileTop {
        position: relative;

        &>i {
            position: absolute;
            top: 10px;
            right: 0;
            z-index: 4;
            font-size: 40px;
            cursor: pointer;

            @media(max-width: 576px) {
                font-size: 20px;
            }
        }
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.navMobileLinkBox {
    margin: 70px 0 0 0;

    .navMobileLink{
        display: flex;
        flex-direction: column;
        gap: 25px;

        & a{
            color: black;
            text-decoration: none;
        }
    }
}

.navLinkActiveMob{
    color: rgba(199, 11, 199, 0.474) !important;
    font-size: 22px;
    font-weight: bold;
}