.policyContainer {
    width: 100%;
    margin-top: 85px;

    @media(max-width: 576px) {
        margin-top: 40px;
    }


    .policyMain {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
        width: 90%;
        margin: 20px auto;

        .policyBox {
            width: 33%;
            height: 160px;
            text-align: center;
            padding: 10px 15px;

            @media(max-width: 576px) {
                width: 100%;
            }

            &>img {
                width: 48px;
                height: 48px;
            }

            &>p {
                padding-top: 20px !important;
                font-size: 16px;
                font-weight: 700;
            }

            &>p:last-child {
                line-height: 20px;
                color: #979797;
                padding-top: 0 !important;
                font-weight: 400 !important;
            }
        }
    }

}